html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 1300px;
}

.el-card {
  margin-top: 10px;
}

.vtCenter {
  display: flex;
  align-items: center;
}

.bdtop {
  border-top: 1px solid #eee;
}

.bdbottom {
  border-bottom: 1px solid #eee;
}
